# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


Backend/venv/
Backend/__pycache__/
Backend/*.pyc
Backend/.env
Backend/Agents/*.pyc
Backend/DB/*.pyc
Backend/graph/*.pyc
Backend/routes/*.pyc
Backend/utils/*.pyc
Backend/models/*.pyc
Backend/utils/whatsapp_link.pyc
Backend/utils/whatsapp_links.pyc
Backend/websocket_server.pyc


Frontend/aidr-network/node_modules/
Frontend/aidr-network/dist/
Frontend/aidr-network/dist-ssr/
Frontend/aidr-network/*.local
Frontend/aidr-network/.vscode/
Frontend/aidr-network/.idea
Frontend/aidr-network/.DS_Store
Frontend/aidr-network/*.suo
Frontend/aidr-network/*.ntvs*
Frontend/aidr-network/*.njsproj
Frontend/aidr-network/*.sln
Frontend/aidr-network/*.sw?
Frontend/aidr-network/logs/
Frontend/aidr-network/*.log
Frontend/aidr-network/npm-debug.log*
Frontend/aidr-network/yarn-debug.log*
Frontend/aidr-network/yarn-error.log*
Frontend/aidr-network/.env
Frontend/aidr-network/.env.local
Frontend/aidr-network/.env.development
Frontend/aidr-network/.env.production
Frontend/aidr-network/.env.test
Frontend/aidr-network/.env.*.local
Frontend/aidr-network/tests/
